<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhouts.taskplanner">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="TP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".editTask"
            android:label="@string/title_activity_dit_task"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bhouts.taskplanner.HomeScreen" />
        </activity>
        <activity
            android:name=".editProject"
            android:label="@string/title_activity_edit_project"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bhouts.taskplanner.HomeScreen" />
        </activity>
        <activity
            android:name=".Dump"
            android:label="@string/title_activity_dump"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bhouts.taskplanner.HomeScreen" />
        </activity>
        <activity
            android:name=".qTask"
            android:label="@string/title_activity_q_task"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bhouts.taskplanner.HomeScreen" />
        </activity>
        <activity
            android:name=".Urgent"
            android:label="@string/title_activity_urgent"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bhouts.taskplanner.HomeScreen" />
        </activity>
    </application>

</manifest>